<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="page-title">M</span>
    <span class="page-title">A</span>
    <span class="page-title">I</span>
    <span class="page-title">L</span>
    <span class="page-title">-</span>
    <span class="page-title">P</span>
    <span class="page-title">A</span>
    <span class="page-title">S</span>
    <span class="page-title">S</span>
    <span class="page-title">W</span>
    <span class="page-title">O</span>
    <span class="page-title">R</span>
    <span class="page-title">D</span>
  </h2>
  <p class="camp-search text-center">メール・パスワード編集</p>
</div>
<div class="container user-registration-wrapper">
  <div class="registration-wrapper col-md-6 offset-md-3 col-sm-12 text-center shadow rounded p-5 my-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-10 px-2", placeholder: "メールアドレス" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-10 px-2", placeholder: "新しいパスワード" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-10 px-2", placeholder: "パスワード確認" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control col-10 px-2", placeholder: "現在のパスワードを入力" %>
      </div>

      <div class="mt-4 mb-3">
        <%= f.submit t('.update'), class: "col-md-12 form-control result-btn btn rounded-pill w-50 m-auto my-4" %>
      </div>
    <% end %>
    <p>
      <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "delete-btn btn rounded-pill w-50 m-auto mb-4" %>
    </p>
    <%= link_to t('devise.shared.links.back'), :back, class: "back-btn btn rounded-pill w-50 m-auto mb-5" %>
  </div>
</div>
