<% provide(:title, "アイコン・ネーム編集") %>
<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="page-title">I</span>
    <span class="page-title">C</span>
    <span class="page-title">O</span>
    <span class="page-title">N</span>
    <span class="page-title">-</span>
    <span class="page-title">N</span>
    <span class="page-title">A</span>
    <span class="page-title">M</span>
    <span class="page-title">E</span>
  </h2>
  <p class="camp-search text-center">アイコン・ネーム編集</p>
</div>
<div class="container">
  <div class="col-md-8 text-center offset-md-2 col-sm-12 shadow rounded my-5">
    <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12 pt-5">
      <%= form_with model: @user, url: users_profile_update_path, local: true, method: :patch do |f| %>
        <%= hidden_field_tag :id, @user.id %>
        <div class="border-bottom my-3 pb-3">
          <% if current_user.icon_img.attached? %>
            <%= image_tag current_user.icon_img, class: "rounded-circle", size: "65x65" %>
          <% else %>
            <i class="fas fa-user-plus fa-4x ms-4"></i>
          <% end %>
        </div>
        <div class="form-group form-row border-bottom">
          <div class="my-3">
            <%= f.label :new_icon_img, "アイコン画像" %>
          </div>
          <div class="">
            <%= f.file_field :new_icon_img, autocomplete: "name" %>
          </div>
        </div>
        <div class="form-group form-row border-bottom m-3">
          <%= f.text_field :name, autocomplete: "name", class: "form-control col-10 px-2", placeholder: "" %>
        </div>
        <div class="pb-3">
          <%= f.submit "更新", class: "result-btn btn rounded-pill w-50 m-auto my-4" %>
        </div>
        <div class="pb-3">
          <%= link_to "戻る", request.referer, class: "back-btn btn rounded-pill w-50 mb-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
