<div class="container user-registration-wrapper">
  <div class="registration-wrapper col-md-6 offset-md-3 col-sm-12 text-center shadow rounded">
    <%= form_with model: @user, url: users_profile_update_path, local: true, method: :patch do |f| %>
      <%= hidden_field_tag :id, @user.id %>
      <div class="p-3 mx-2 border-bottom">
        <div class="row">
          <h5>プロフィール</h5>
        </div>  
      </div>
      <div class="p-3 mx-2 border-bottom text-center">
        <% if current_user.icon_img.attached? %>
          <%= image_tag current_user.icon_img, class: "rounded-circle", size: "65x65" %>
        <% else %>
          <i class="fas fa-user-plus fa-4x ms-3"></i>
        <% end %>
      </div>
      <div class="form-group form-row p-3 mx-2 border-bottom">
        <div class="col-md-3 required-b pt-2">
          <%= f.label :new_icon_img, "アイコン画像" %>
        </div>
        <div id="icon-img" class="col-md-9 mb-4">
          <%= f.file_field :new_icon_img, autocomplete: "name" %>
        </div>
      </div>
      <div class="form-group form-row p-3 mx-2 border-bottom">
        <%= f.text_field :name, autocomplete: "name", class: "form-control col-md-9 px-2 mb-4", placeholder: "" %>
      </div>
      <div class="pb-3 p-3 mx-2">
        <%= f.submit "更新", class: "col-2 btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
