<% provide(:title, "気になるキャンプ場") %>
<div class="container">
  <%= render "shared/show_count", fields: @fields %>
  <div class="d-flex align-items-center flex-column mt-5">
    <h2>
      <span class="page-title">B</span>
      <span class="page-title">O</span>
      <span class="page-title">O</span>
      <span class="page-title">K</span>
      <span class="page-title">-</span>
      <span class="page-title">M</span>
      <span class="page-title">A</span>
      <span class="page-title">R</span>
      <span class="page-title">K</span>
    </h2>
    <h3 class="camp-search text-center"><%= "気になるキャンプ場：#{@fields.total_count}件" %></h3>
  </div>
  <div class="row">
    <aside class="col-md-3">
      <% if @user.icon_img.present? %>
        <%= image_tag @user.icon_img, class:"rounded-circle mb-3", size:"100x100" %>
      <% else %>
        <i class="fas fa-user-plus fa-4x ms-3"></i>
      <% end %>
      <p><%= @user.name %>さん</p>
    </aside>
  </div>
  <div class="row">
    <% if Bookmark.find_by(params[:id]).present? %>
      <%= render "shared/search_bookmark", fields: @fields %>
    <% else %>
      <p>気になるキャンプ場や行ってみたいキャンプ場をブックマークしてみよう！<br>キャンプ場詳細ページの <i class="far fa-bookmark"></i> このマークを押すと登録完了！</p>
    <% end %>
  </div>
  <%= paginate @fields %>
  <div class="text-center">
    <%= link_to "トップページに戻る", root_path, class: "back-btn btn rounded-pill w-50 m-auto my-5" %>
  </div>
</div>
