<%= provide :title, "新規パスワード入力" %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="page-title">N</span>
    <span class="page-title">E</span>
    <span class="page-title">W</span>
    <span class="page-title">-</span>
    <span class="page-title">P</span>
    <span class="page-title">A</span>
    <span class="page-title">S</span>
    <span class="page-title">S</span>
    <span class="page-title">W</span>
    <span class="page-title">O</span>
    <span class="page-title">R</span>
    <span class="page-title">D</span>
  </h2>
  <p class="camp-search text-center">新規パスワード入力</p>
</div>
<div class="container">
  <div class="col-md-8 text-center col-sm-12 offset-md-2 rounded shadow my-5">
    <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12 pt-5">
      <%= form_with model: @user, url: user_password_path, method: :patch, class: 'registration-main', local: true do |f| %>
        <label>新しいパスワード</label>
        <div class="form-group form-row m-4">
          <%= f.password_field :password, class:"form-control col-10 px-2", id:"password", placeholder:"8文字以上の半角英数字" %>
        </div>
        <label>パスワード(確認用)</label>
        <div class="form-group form-row m-4">
          <%= f.password_field :password_confirmation, class:"form-control col-10 px-2", id:"password-confirmation", placeholder:"同じパスワードを入力" %>
        </div>
        <%= f.hidden_field :reset_password_token %>
        <div class='actions mt-4 mb-3'>
          <%= f.submit "パスワードを変更する" ,class:"green-btn btn rounded-pill w-60 m-auto my-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
