<%= provide(:title, t('.forgot_your_password')) %>
<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="page-title">P</span>
    <span class="page-title">A</span>
    <span class="page-title">S</span>
    <span class="page-title">S</span>
    <span class="page-title">W</span>
    <span class="page-title">O</span>
    <span class="page-title">R</span>
    <span class="page-title">D</span>
  </h2>
  <p class="camp-search text-center"><%= t('.forgot_your_password') %></p>
</div>
<div class="container">
  <div class="col-md-8 text-center col-sm-12 offset-md-2 rounded shadow my-5">
    <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12 pt-5">
      <%= form_with model: @user, url: user_password_path do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group form-row m-3">
          <%= f.email_field :email, class:"form-control col-10 px-2", id:"email", placeholder:"メールアドレスを入力して下さい", autofocus: true %>
        </div>
        <div class="actions mt-4">
          <%= f.submit t('.send_me_reset_password_instructions'), class: "green-btn btn rounded-pill w-50 m-auto my-4" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
