<div class="footer-login">
  <% if current_user.blank? %>
      <div class="d-flex align-items-center justify-content-end my-4 me-1">
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "text-white me-3" %>
        <%= link_to "ログイン", "/users/sign_in", class: "btn btn-outline-light me-3" %>
        <%= link_to "新規登録", "/users/sign_up", class: "btn btn-light me-3" %>
      </div>
  <% else %>
    <div class="d-flex align-items-center justify-content-end">
      <div class="nav-item d-sm-inline-block me-3 text-white">
        <%= current_user.name %>
      </div>
      <div class="btn-group dropup me-2">
        <div class="btn rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,5">
          <% if current_user.icon_img.attached? %>
            <%= image_tag current_user.icon_img, class: "icon_img rounded-circle" %>
          <% else %>
            <i class="fas fa-user-plus fa-4x ms-3"></i>
          <% end %>
        </div>
        <ul class="dropdown-menu rounded shadow">
          <li><%= link_to "アイコン・ネーム編集", "/users/profile", class: "dropdown-item text-white" %></li>
          <li><%= link_to "メール・パスワード編集", "/users/edit", class: "dropdown-item text-white" %></li>
          <li><%= link_to "気になるキャンプ場リスト", user_path(user), class: "dropdown-item text-white" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item text-white", method: :delete %></li>
        </ul>
      </div>
    </div>
  <% end %>
  <ul>
    <li><%= link_to "お問い合わせ(キャンプ場追加希望もこちら)", new_contact_path, class: "text-white" %></li>
    <li><%= link_to "利用規約", static_pages_terms_path, class: "text-white" %></li>
    <li><%= link_to "プライバシーポリシー", static_pages_privacy_policy_path, class: "text-white" %></li>
  </ul>
  <div class="text-center mb-3 text-white">
    ©2021 TO_CAMP All Rights Reserved.
  </div>
</div>
