<nav class="navbar navbar-light">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <h1 class="site-title">TO_CAMP</h1>
    <% end %>
    <div class="d-flex">
      <i class="fas fa-search ms-2" style=" margin-top: 12px; position:absolute;"></i>
      <%= search_form_for q, url: search_fields_path do |f| %>
        <%= f.search_field :name_cont, required: true, class: "form-control px-4", placeholder: ' キャンプ場名を入力' %>
        <% f.submit %>
      <% end %>
    </div>
  </div>
</nav>
<% if current_user.blank? %>
  <div class="d-flex align-items-center justify-content-end my-4 me-1">
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary me-3" %>
    <%= link_to "ログイン", "/users/sign_in", class: "btn btn-outline-secondary me-3" %>
    <%= link_to "新規登録", "/users/sign_up", class: "secondary-btn btn btn-secondary me-3" %>
  </div>
<% else %>
  <div class="d-flex align-items-center justify-content-end">
    <div class="nav-item d-sm-inline-block me-3 text-secondary">
      <%= current_user.name %>
    </div>
    <div class="btn-group dropdown me-2">
      <div class="btn rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,5">
        <% if current_user.icon_img.attached? %>
          <%= image_tag current_user.icon_img, class: "icon_img rounded-circle" %>
        <% else %>
          <i class="fas fa-user-plus fa-4x ms-3 text-secondary"></i>
        <% end %>
      </div>
      <ul class="dropdown-menu rounded shadow d-header-bg">
        <li><%= link_to "アイコン・ネーム編集", "/users/profile", class: "dropdown-item text-secondary" %></li>
        <li><%= link_to "メール・パスワード編集", "/users/edit", class: "dropdown-item text-secondary" %></li>
        <li><%= link_to "気になるキャンプ場リスト", user_path(user), class: "dropdown-item text-secondary" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item text-secondary", method: :delete %></li>
      </ul>
    </div>
  </div>
<% end %>
