<div id="middle_main">
  <div class="d-flex align-items-center flex-column mt-5 pt-5">
    <h2>
      <span class="page-title">C</span>
      <span class="page-title">A</span>
      <span class="page-title">M</span>
      <span class="page-title">P</span>
      <span class="page-title">-</span>
      <span class="page-title">C</span>
      <span class="page-title">O</span>
      <span class="page-title">M</span>
      <span class="page-title">M</span>
      <span class="page-title">I</span>
      <span class="page-title">T</span>
    </h2>
    <p class="camp-search text-center">こだわり条件でキャンプ場を探す</p>
  </div>
  <div class="mt-5 rounded-3">
    <div class="container">
      <div class="row">
        <div class="mb-4 p-5 offset-xs-3 col-xs-6 offset-md-3 col-md-6 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
          <%= search_form_for q, url: search_fields_path do |f| %>
            <%= f.collection_select :address_cont, Pref.all, :name, :name, include_blank: '都道府県を選んでください' %>
            <div class="mt-3">
              <p class="d-inline p-2 select-genre">
                <i class="far fa-circle fa-fw"></i>営業条件
              </p>
              <% HomeController::JSON_CAMP_COMMIT["BUSINESS_CONDITIONS"].zip(HomeController::JSON_CAMP_COMMIT["BUSINESS_ID_AND_FOR"], HomeController::JSON_CAMP_COMMIT["BUSINESS_SEARCH_SQL"]) do |business_conditions,business_id_and_for,business_search_sql| %>
                <div class="form-check form-switch my-2">
                  <%= f.check_box :"#{business_search_sql}", {class: "form-check-input", id: business_id_and_for}, checked_value = "true", unchecked_value = "" %>
                  <%= f.label business_conditions, class: "form-check-label", for: business_id_and_for %>
                </div>
              <% end %>
            </div>
            <div class="mt-3">
              <p class="d-inline p-2 select-genre">
                <i class="far fa-circle fa-fw"></i>立地条件
              </p>
              <% HomeController::JSON_CAMP_COMMIT["LOCATION_CONDITIONS"].zip(HomeController::JSON_CAMP_COMMIT["LOCATION_ID_AND_FOR"], HomeController::JSON_CAMP_COMMIT["LOCATION_SEARCH_SQL"]) do |location_conditions,location_id_and_for,location_search_sql| %>
                <div class="form-check form-switch my-2">
                  <%= f.check_box :"#{location_search_sql}", {class: "form-check-input", id: location_id_and_for}, checked_value = "true", unchecked_value = "" %>
                  <%= f.label location_conditions, class: "form-check-label", for: location_id_and_for %>
                </div>
              <% end %>
            </div>
            <div class="mt-3">
              <p class="d-inline p-2 select-genre">
                <i class="far fa-circle fa-fw"></i>サイト条件
              </p>
              <% HomeController::JSON_CAMP_COMMIT["CAMPSITE_CONDITIONS"].zip(HomeController::JSON_CAMP_COMMIT["CAMPSITE_ID_AND_FOR"], HomeController::JSON_CAMP_COMMIT["CAMPSITE_SEARCH_SQL"]) do |campsite_conditions,campsite_id_and_for,campsite_search_sql| %>
                <div class="form-check form-switch my-2">
                  <%= f.check_box :"#{campsite_search_sql}", {class: "form-check-input", id: campsite_id_and_for}, checked_value = "true", unchecked_value = "" %>
                  <%= f.label campsite_conditions, class: "form-check-label", for: campsite_id_and_for %>
                </div>
              <% end %>
            </div>
            <div class="mt-3">
              <p class="d-inline p-2 select-genre">
                <i class="far fa-circle fa-fw"></i>施設条件
              </p>
              <% HomeController::JSON_CAMP_COMMIT["FACILITY_CONDITIONS"].zip(HomeController::JSON_CAMP_COMMIT["FACILITY_ID_AND_FOR"], HomeController::JSON_CAMP_COMMIT["FACILITY_SEARCH_SQL"]) do |facility_conditions,facility_id_and_for,facility_search_sql| %>
                <div class="form-check form-switch my-2">
                  <%= f.check_box :"#{facility_search_sql}", {class: "form-check-input", id: facility_id_and_for}, checked_value = "true", unchecked_value = "" %>
                  <%= f.label facility_conditions, class: "form-check-label", for: facility_id_and_for %>
                </div>
              <% end %>
              <div class="form-check form-switch my-2">
                <%= f.check_box :cancel_eq_any, {class: "form-check-input", id: "switch-cancel"}, checked_value = "false", unchecked_value = "" %>
                <%= f.label "キャンセル料無", class: "form-check-label", for: "switch-cancel" %>
              </div>
            </div>
            <%= f.submit "検索", class: "camp-commit btn btn-outline-light search-btn mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
