<div id="top_main">
  <div class="d-flex align-items-center flex-column mt-5">
    <h2>
      <span class="page-title">C</span>
      <span class="page-title">A</span>
      <span class="page-title">M</span>
      <span class="page-title">P</span>
      <span class="page-title">-</span>
      <span class="page-title">P</span>
      <span class="page-title">L</span>
      <span class="page-title">A</span>
      <span class="page-title">C</span>
      <span class="page-title">E</span>
    </h2>
    <p class="camp-search text-center">地図でキャンプ場を探す</p>
  </div>
  <div class="japan_map my-5">
    <%= image_tag "japan-map-search.png", alt: "日本地図" %>
    <% HomeController::EACH_REGIONS.each_with_index do |region,i| %>
      <span class="area_btn area<%= i+1 %>" data-area="<%= i+1 %>">
        <%= region %><br><%= HomeController::PREFS_COUNT[i] %>件
      </span>
    <% end %>
    <div class="area_overlay"></div>
    <div class="pref_area">
      <div class="pref_list" data-list="1">
        <% HomeController::PREFS_AREA_1.zip(HomeController::PREFS_1) do |prefs_area_1,prefs_1| %>
          <%= link_to search_fields_path(q: { address_cont: "#{prefs_area_1}" }), class: "pref-btn" do %>
            <div data-id="1"><%= "#{prefs_area_1}" %><%= "（#{prefs_1}件）" %></div>
          <% end %>
        <% end %>
      </div>
      <div class="pref_list" data-list="2">
        <% HomeController::PREFS_AREA_2.zip(HomeController::PREFS_2) do |prefs_area_2,prefs_2| %>
          <%= link_to search_fields_path(q: { address_cont: "#{prefs_area_2}" }), class: "pref-btn" do %>
            <div data-id="2"><%= "#{prefs_area_2}" %><%= "（#{prefs_2}件）" %></div>
          <% end %>
        <% end %>
      </div>
      <div class="pref_list" data-list="3">
        <% HomeController::PREFS_AREA_3.zip(HomeController::PREFS_3) do |prefs_area_3,prefs_3| %>
          <%= link_to search_fields_path(q: { address_cont: "#{prefs_area_3}" }), class: "pref-btn" do %>
            <div data-id="3"><%= "#{prefs_area_3}" %><%= "（#{prefs_3}件）" %></div>
          <% end %>
        <% end %>
      </div>
      <div class="pref_list" data-list="4">
        <% HomeController::PREFS_AREA_4.zip(HomeController::PREFS_4) do |prefs_area_4,prefs_4| %>
          <%= link_to search_fields_path(q: { address_cont: "#{prefs_area_4}" }), class: "pref-btn" do %>
            <div data-id="4"><%= "#{prefs_area_4}" %><%= "（#{prefs_4}件）" %></div>
          <% end %>
        <% end %>
      </div>
      <div class="pref_list" data-list="5">
        <% HomeController::PREFS_AREA_5.zip(HomeController::PREFS_5) do |prefs_area_5,prefs_5| %>
          <%= link_to search_fields_path(q: { address_cont: "#{prefs_area_5}" }), class: "pref-btn" do %>
            <div data-id="5"><%= "#{prefs_area_5}" %><%= "（#{prefs_5}件）" %></div>
          <% end %>
        <% end %>
      </div>
      <div class="pref_list" data-list="6">
        <% HomeController::PREFS_AREA_6.zip(HomeController::PREFS_6) do |prefs_area_6,prefs_6| %>
          <%= link_to search_fields_path(q: { address_cont: "#{prefs_area_6}" }), class: "pref-btn" do %>
            <div data-id="6"><%= "#{prefs_area_6}" %><%= "（#{prefs_6}件）" %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
