<div class="top-main">
  <div class="d-flex align-items-center flex-column mt-5">
    <h2>
      <span class="page-title">C</span>
      <span class="page-title">A</span>
      <span class="page-title">M</span>
      <span class="page-title">P</span>
      <span class="page-title">-</span>
      <span class="page-title">S</span>
      <span class="page-title">T</span>
      <span class="page-title">Y</span>
      <span class="page-title">L</span>
      <span class="page-title">E</span>
    </h2>
    <p class="camp-search text-center">スタイルごとにキャンプ場を探す</p>
  </div>
  <section class="page-section mt-3" id="services">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section" id="services">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="middle-main">
  <div class="d-flex align-items-center flex-column mt-5">
    <h2>
      <span class="page-title">C</span>
      <span class="page-title">A</span>
      <span class="page-title">M</span>
      <span class="page-title">P</span>
      <span class="page-title">-</span>
      <span class="page-title">P</span>
      <span class="page-title">L</span>
      <span class="page-title">A</span>
      <span class="page-title">C</span>
      <span class="page-title">E</span>
    </h2>
    <p class="camp-search text-center">地図でキャンプ場を探す</p>
  </div>

  <div class="japan_map my-5">
    <%= image_tag "japan-map-search.png", alt: "日本地図" %>
    <span class="area_btn area1" data-area="1">北海道・東北</span>
    <span class="area_btn area2" data-area="2">関東</span>
    <span class="area_btn area3" data-area="3">中部</span>
    <span class="area_btn area4" data-area="4">近畿</span>
    <span class="area_btn area5" data-area="5">中国・四国</span>
    <span class="area_btn area6" data-area="6">九州・沖縄</span>
    
    <div class="area_overlay"></div>
    <div class="pref_area">
        <div class="pref_list" data-list="1">
            <div data-id="1">北海道</div>
            <div data-id="2">青森県</div>
            <div data-id="3">岩手県</div>
            <div data-id="4">宮城県</div>
            <div data-id="5">秋田県</div>
            <div data-id="6">山形県</div>
            <div data-id="7">福島県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="2">
            <div data-id="8">茨城県</div>
            <div data-id="9">栃木県</div>
            <div data-id="10">群馬県</div>
            <div data-id="11">埼玉県</div>
            <div data-id="12">千葉県</div>
            <div data-id="13">東京都</div>
            <div data-id="14">神奈川県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="3">
            <div data-id="15">新潟県‎</div>
            <div data-id="16">富山県‎</div>
            <div data-id="17">石川県‎</div>
            <div data-id="18">福井県‎</div>
            <div data-id="19">山梨県‎</div>
            <div data-id="20">長野県‎</div>
            <div data-id="21">岐阜県</div>
            <div data-id="22">静岡県</div>
            <div data-id="23">愛知県‎</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="4">
            <div data-id="24">三重県</div>
            <div data-id="25">滋賀県</div>
            <div data-id="26">京都府</div>
            <div data-id="27">大阪府</div>
            <div data-id="28">兵庫県</div>
            <div data-id="29">奈良県</div>
            <div data-id="30">和歌山県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="5">
            <div data-id="31">鳥取県</div>
            <div data-id="32">島根県</div>
            <div data-id="33">岡山県</div>
            <div data-id="34">広島県</div>
            <div data-id="35">山口県</div>
            <div data-id="36">徳島県</div>
            <div data-id="37">香川県</div>
            <div data-id="38">愛媛県</div>
            <div data-id="39">高知県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="6">
            <div data-id="40">福岡県</div>
            <div data-id="41">佐賀県</div>
            <div data-id="42">長崎県</div>
            <div data-id="43">熊本県</div>
            <div data-id="44">大分県</div>
            <div data-id="45">宮崎県</div>
            <div data-id="46">鹿児島県</div>
            <div data-id="47">沖縄県</div>
        </div>
    </div>
</div>

  <script>
  $(function(){
      //地域を選択
      $('.area_btn').click(function(){
          $('.area_overlay').show();
          $('.pref_area').show();
          var area = $(this).data('area');
          $('[data-list]').hide();
          $('[data-list="' + area + '"]').show();
      });
      
      //レイヤーをタップ
      $('.area_overlay').click(function(){
          prefReset();
      });
      
      //都道府県をクリック
      $('.pref_list [data-id]').click(function(){
          if($(this).data('id')){
              var id = $(this).data('id');
              //このidを使用して行いたい操作をしてください
              //都道府県IDに応じて別ページに飛ばしたい場合はこんな風に書く↓
              //window.location.href = 'https://kinocolog.com/pref/' + id;
              
              prefReset();
          }
      });
      
      //表示リセット
      function prefReset(){
          $('[data-list]').hide();
          $('.pref_area').hide();
          $('.area_overlay').hide();
      }
  });
  </script>
</div>

<div class="under-main">
  <div class="d-flex align-items-center flex-column mt-5">
    <h2>
      <span class="page-title">C</span>
      <span class="page-title">A</span>
      <span class="page-title">M</span>
      <span class="page-title">P</span>
      <span class="page-title">-</span>
      <span class="page-title">C</span>
      <span class="page-title">O</span>
      <span class="page-title">M</span>
      <span class="page-title">M</span>
      <span class="page-title">I</span>
      <span class="page-title">T</span>
    </h2>
    <p class="camp-search text-center">こだわり条件でキャンプ場を探す</p>
  </div>
  <div class="under-section p-5 mt-5 rounded-3">
    <section class="page-section" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="under-item col-lg-6 col-sm-6 mb-4 p-5">
            <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
              <div class="portfolio-item text-center">
                <%= image_tag "https://picsum.photos/244", width: "100%", height: "100%" %>
                <div class="portfolio-caption text-center">
                  <div class="portfolio-caption-heading">Threads</div>
                  <div class="portfolio-caption-subheading text-muted">Illustration</div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="under-item col-lg-6 col-sm-6 mb-4 p-5">
            <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
              <div class="portfolio-item text-center">
                <%= image_tag "https://picsum.photos/244", width: "100%", height: "100%" %>
                <div class="portfolio-caption text-center">
                  <div class="portfolio-caption-heading">Explore</div>
                  <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="under-item col-lg-6 col-sm-6 mb-4 p-5">
            <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
              <div class="portfolio-item text-center">
                <%= image_tag "https://picsum.photos/244", width: "100%", height: "100%" %>
                <div class="portfolio-caption text-center">
                  <div class="portfolio-caption-heading">Finish</div>
                  <div class="portfolio-caption-subheading text-muted">Identity</div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="under-item col-lg-6 col-sm-6 mb-4 mb-lg-0 p-5">
            <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
              <div class="portfolio-item text-center">
                <%= image_tag "https://picsum.photos/244", width: "100%", height: "100%" %>
                <div class="portfolio-caption text-center">
                  <div class="portfolio-caption-heading">Lines</div>
                  <div class="portfolio-caption-subheading text-muted">Branding</div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="under-item col-lg-6 col-sm-6 mb-4 mb-sm-0 p-5">
            <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
              <div class="portfolio-item text-center">
                <%= image_tag "https://picsum.photos/244", width: "100%", height: "100%" %>
                <div class="portfolio-caption text-center">
                  <div class="portfolio-caption-heading">Southwest</div>
                  <div class="portfolio-caption-subheading text-muted">Website Design</div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-6 col-sm-6 p-5">
            <%= link_to search_fields_path(q: { name_eq: "岡山" }) do %>
              <div class="portfolio-item text-center">
                <%= image_tag "https://picsum.photos/244", width: "100%", height: "100%" %>
                <div class="portfolio-caption text-center">
                  <div class="portfolio-caption-heading">Window</div>
                  <div class="portfolio-caption-subheading text-muted">Photography</div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row gx-0 mb-lg-5 align-items-center mt-5">
  <div class="col-xl-8 col-lg-7">
    <%= image_tag "top-under-img.png", class: "under-img" %>
  </div>
  <div class="col-xl-4 col-lg-5">
    <div class="featured-text-left text-center text-lg-left">
      <h4>最高の旅へ出て、癒やしの空間を作ろう</h4>
      <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
    </div>
  </div>
</div>

<%= search_form_for(@q, url: search_fields_path) do |f| %>
  <%= f.select(:sorts, { "並び替え": "id desc", "標高": "elevation asc" }, {oncange: "this.form.submit()"} )%>
    <h3>検索</h3>
    <P>キーワードを追加</P>
    <%= f.search_field :name_cont, placeholder: "キャンプ場名" %>
    <P>標高</P>
    <%= f.search_field :elevation_gteq, placeholder: "Min" %>
    <P>〜</P>
    <%= f.search_field :elevation_lteq, placeholder: "Max" %>
    <%= f.submit "検索" %>
  <% end %>