<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="camp-style">L</span>
    <span class="camp-style">O</span>
    <span class="camp-style">G</span>
    <span class="camp-style">-</span>
    <span class="camp-style">I</span>
    <span class="camp-style">N</span>
  </h2>
  <p class="camp-search text-center">ログイン</p>
</div>
<div class="container">
  <div class="login-form-wrapper col-md-6 text-center col-sm-12 offset-md-3 rounded shadow my-5">
    <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group form-row mt-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: "form-control col-10 px-2" %>
        </div>
        <div class="field  form-group form-row">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control col-10 px-2" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field form-group form-row">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="mt-4 mb-3">
          <%= f.submit t('.sign_in'), class: "result-btn btn rounded-pill w-50 m-auto my-4" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
