<% provide(:title, "口コミ投稿") %>
<%= flash[:danger] %>
<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="page-title">R</span>
    <span class="page-title">E</span>
    <span class="page-title">V</span>
    <span class="page-title">I</span>
    <span class="page-title">E</span>
    <span class="page-title">W</span>
  </h2>
  <p class="camp-search text-center">口コミ投稿</p>
</div>
<div class="container">
  <%= form_for [@review] do |f| %>
    <div class="form-group">
      <%= f.label :タイトル %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group" id="star">
      <%= f.label :rate, "評価" %>
      <%= f.hidden_field :rate, id: :review_rate %>
    </div>
    <div class="form-group">
      <%= f.label :口コミ内容 %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= hidden_field_tag :field_id, params[:field_id] %>
    <div class="text-center">
      <%= f.submit "保存", class: "green-btn btn rounded-pill w-50 m-auto my-5" %>
    </div>
    <script>
      $('#star').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[rate]',
        half: true,
      });
    </script>
  <% end %>
  <div class="text-center">
    <%= link_to "戻る", field_path(params[:field_id]), class: "white-btn btn rounded-pill w-50 m-auto mb-5" %>
  </div>
</div>
