<div class="d-flex align-items-center flex-column mt-5">
  <h2>
    <span class="camp-style">R</span>
    <span class="camp-style">E</span>
    <span class="camp-style">V</span>
    <span class="camp-style">I</span>
    <span class="camp-style">E</span>
    <span class="camp-style">W</span>
  </h2>
  <p class="camp-search text-center">口コミ投稿</p>
</div>
<div class="container">
  <%= form_for [@review] do |f| %>
    <div class="form-group">
      <%= f.label :タイトル %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group" id="star">
      <%= f.label :rate, "評価" %>
      <%= f.hidden_field :rate, id: :review_rate %>
    </div>
    <div class="form-group">
      <%= f.label :口コミ内容 %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= hidden_field_tag :field_id,  params[:field_id] %>
    <div class="text-center">
      <%= f.submit "保存", class: "result-btn btn rounded-pill w-50 m-auto my-5" %>
    </div>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[rate]',
        half: true,
      });
    </script>
  <% end %>
  <div class="text-center">
    <%= link_to "戻る", request.referer, class: "back-btn btn rounded-pill w-50 m-auto mb-5" %>
  </div>
</div>
