<div class="search-number-container">
  <p class="search-number">
    <%#= show_current_number(@fields.current_page, @fields.size) %>件を表示 ／ 全<%#= @fields.total_entries %>件
  </p>
</div>
<div class="row">
  <h2><%= "検索結果:#{@fields.count}件" %></h2>
  <% if @fields.length != 0 %>
    <% @fields.each do |field| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card img-thumbnail h-100">
          <%= image_tag("https://picsum.photos/244", size:"300x250") %>
          <%#= image_tag fields.image.url, class:"card-img-top", size:"300x250" %>
          <div class="card-body px-2 py-3">
            <h5 class="card-title">
              <%= link_to field.name, field_path(field) %>
            </h5>
            <div class="small-block">
              <i class="fas fa-map-marker-alt"></i>
              <cite title="<%= field.address %>">
              <%= field.address %>
            </div>
            <div class="small-block">
              <i class="fas fa-phone fa-fw"></i>
              <a href="<%= field.phone_number %>"><%= field.phone_number %></a>
            </div>
            <div class="small-block">
              <i class="fas fa-yen-sign"></i>
              区画サイト：<%= field.section_site %>
            </div>
            <div class="small-block">
              <i class="fas fa-yen-sign"></i>
              フリーサイト：<%= field.free_site %>
            </div>
            <div class="small-block">
              <i class="fas fa-mobile-alt"></i>
              <%= field.reservation %>
            </div>
            <div class="small-block">
              <i class="fas fa-clock"></i>
              <%= field.check_in_out %>
            </div>
            <div class="star-review" data-score="<%#= rating(fields.reviews) %>"></div>
            <div class="score-review">
              <%#= rating(fields.reviews) %>
            </div>
            <p class="count-review">
              <i class="fa fa-comments"></i>
              <%#= field.reviews.count %>
            </p>
            <p class="hash_tags">
              <i class="fas fa-tags"></i> 
              <%# fields.hash_tags.each do |hash_tag| %>
                <%#= link_to hash_tag.tag, results_path(q: { hash_tags_id_in: [hash_tag.id] }) %> <!-- 配列じゃないと検索できないため、idを[]で括っている -->
              <%# end %>
            </p>
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-sm-6.col-md-3 -->
    <% end %>
  <% else %>
    キャンプ場は見つかりませんでした
  <% end %>
</div><!-- /.row -->
<%= paginate @fields %>