<% provide(:title, "検索結果") %>
<div class="container">
  <p class="search-number">
    <% if @fields_search.present? %>
      <%= show_current_number(@fields_search.current_page,@fields_search.size) %>件を表示 / 全<%= @fields_search.total_count %>件
    <% else %>
      0件を表示 / 全<%= @fields_search.total_count %>件
    <% end %>
  </p>
  <div class="row m-0">
    <div class="d-flex align-items-center flex-column my-5">
      <h2>
        <span class="page-title">S</span>
        <span class="page-title">E</span>
        <span class="page-title">A</span>
        <span class="page-title">R</span>
        <span class="page-title">C</span>
        <span class="page-title">H</span>
        <span class="page-title">-</span>
        <span class="page-title">R</span>
        <span class="page-title">E</span>
        <span class="page-title">S</span>
        <span class="page-title">U</span>
        <span class="page-title">L</span>
        <span class="page-title">T</span>
        <span class="page-title">S</span>
      </h2>
      <h3 class="camp-search text-center"><%= "検索結果：#{@fields_search.total_count}件" %></h3>
    </div>
  </div>
  <thead>
    <tr>
      <th><%= sort_link(@q, :elevation, "標高順に並べ替える") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="row">
    <% if @fields.length != 0 %>
      <%= render "shared/search_bookmark", fields: @fields %>
    <% else %>
    <div class="text-center">
      キャンプ場は見つかりませんでした
    </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "トップページに戻る", root_path, class: "back-btn btn rounded-pill w-50 m-auto my-5" %>
  </div>
</div>
<%= paginate @fields_search %>
