<% provide(:title, "検索結果") %>
<div class="container">
  <%= render "shared/fields_count", fields: @fields %>
  <div class="row m-0">
    <div class="d-flex align-items-center flex-column my-5">
      <h2>
        <span class="page-title">S</span>
        <span class="page-title">E</span>
        <span class="page-title">A</span>
        <span class="page-title">R</span>
        <span class="page-title">C</span>
        <span class="page-title">H</span>
        <span class="page-title">-</span>
        <span class="page-title">R</span>
        <span class="page-title">E</span>
        <span class="page-title">S</span>
        <span class="page-title">U</span>
        <span class="page-title">L</span>
        <span class="page-title">T</span>
        <span class="page-title">S</span>
      </h2>
      <h3 class="camp-search text-center"><%= "検索結果：#{@fields.total_count}件" %></h3>
    </div>
  </div>
  <thead>
    <tr>
      <th><%= sort_link(@q, :elevation, "標高順に並べ替える") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="row">
    <% if @fields.length != 0 %>
      <%= render "shared/search_bookmark", fields: @fields %>
    <% else %>
      <div class="text-center">
        キャンプ場は見つかりませんでした
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "トップページに戻る", root_path, class: "white-btn btn rounded-pill w-50 m-auto my-5" %>
  </div>
</div>
<%= paginate @fields %>
