<% provide(:title, @field.name) %>
<%= flash[:success] %>
<%= flash[:danger] %>
<%= flash[:alert] %>
<div class="d-flex align-items-center flex-column my-5">
  <h2>
    <span class="page-title">F</span>
    <span class="page-title">I</span>
    <span class="page-title">E</span>
    <span class="page-title">L</span>
    <span class="page-title">D</span>
    <span class="page-title">S</span>
    <span class="page-title">-</span>
    <span class="page-title">D</span>
    <span class="page-title">E</span>
    <span class="page-title">T</span>
    <span class="page-title">A</span>
    <span class="page-title">I</span>
    <span class="page-title">L</span>
    <span class="page-title">S</span>
  </h2>
  <h3 class="camp-search text-center">キャンプ場詳細</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-12 mt-5">
      <div class="card shadow rounded">
        <div class="card-header">
          <h3 class="show-field-header">
            <%= @field.name %>
            <p class="me-3">
              <%= render "bookmark_tag", field: @field if user_signed_in? %>
            </p>
          </h3>
          <div class="rating d-flex align-items-center">
            <%= image_tag "star-on.png",class: "me-2" %> <%= rating(@reviews) %>
          </div>
        </div>
        <% if @field.image.blank? %>
          <i class="text-center my-3">no image</i>
        <% else %>
          <div>
            <%= image_tag @field.image.variant(gravity: :center, resize:'500x500^', crop:"500x500+0+0").processed, width: "100%", height: "100%" %>
          </div>
        <% end %>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <a href="//twitter.com/share" class="twitter-share-button" data-text="<%= @field.name %> <%= @field_url %> #TO_CAMP" data-lang="ja"></a>
            <div id="fb-root"></div>
            <div class="fb-share-button mx-4" data-href="<%= @field_url %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
            <div class="line-it-button" data-lang="ja" data-type="share-a" data-url="<%= @field_url %>" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-12 mt-5">
      <div class="card shadow rounded">
        <div class="card-header">
          <h4>施設情報</h4>
        </div>
        <div class="card-body show-card-body">
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-map-marker-alt"></i> 住所
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.address %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-calendar-alt"></i> 予約方法
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.reservation %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-mobile-alt"></i> 電話番号
            </div>
            <% if @field.phone_number.present? %>
              <div class="col-sm-8 col-6 text-left px-0">
                <a href="tel:<%= @field.phone_number %>"><%= @field.phone_number %></a>
              </div>
            <% else %>
              -
            <% end %>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-history"></i> 営業時間
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.business_hours %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-calendar-check"></i> 定休日
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.holiday %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="far fa-calendar-check"></i> 営業期間
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.season %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="far fa-clock"></i> アーリーチェックイン
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.early_in_description %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="far fa-clock"></i> レイトチェックアウト
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.late_out_description %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-clock"></i> チェックイン
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.check_in %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-clock"></i> チェックアウト
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.check_out %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-campground"></i> デイキャンプ
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.day_camp_description %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-map-marked-alt"></i> 立地
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.sea %>
                <i class="fas fa-umbrella-beach"></i>海
              <% end %>
              <% if @field.lake %>
                <i class="far fa-circle"></i>湖
              <% end %>
              <% if @field.river %>
                <i class="fas fa-water"></i>川
              <% end %>
              <% if @field.mountain %>
                <i class="fas fa-mountain"></i>山
              <% end %>
              <% if @field.woods %>
                <i class="fas fa-tree"></i>林間
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-train"></i> 最寄り駅
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.near_station %>：距離(約<%= @field.near_station_km %>km)
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-route"></i> 最寄りのIC
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.near_ic %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-hot-tub"></i> 最寄りの温泉
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.near_spa %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-shopping-cart"></i> 最寄りのスーパー
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.near_supermarket %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-mountain"></i> 標高(m)
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.elevation %> m
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-yen-sign"></i> 区画サイト
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.section_site_price %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-th-large"></i> サイトの大きさ
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.section_site_size %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-yen-sign"></i> フリーサイト
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.free_site_price %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="far fa-square"></i> サイトの大きさ
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <%= @field.free_site_size %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-window-close"></i> キャンセル料
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.cancel %>
                有
              <% else %>
                無(キャンプ場に要連絡)
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-chess-board"></i> 地面
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.ground_turf %>
                芝
              <% end %>
              <% if @field.ground_soil %>
                土
              <% end %>
              <% if @field.ground_wood_deck %>
                ウッドデッキ
              <% end %>
              <% if @field.ground_sand %>
                砂
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-fire-alt"></i> 焚き火
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.bonfire %>
                可
              <% else %>
                禁止
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-burn"></i> 直火
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.direct_fire %>
                可
              <% else %>
                禁止
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-car"></i> 車の横付け
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.car %>
                可
              <% else %>
                不可
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-unlock-alt"></i> ゲート
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.gate %>
                有
              <% else %>
                無
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-user-lock"></i> 管理人
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.manager_resident %>
                24時間常駐
              <% else %>
                定時まで常駐
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="far fa-trash-alt"></i> ゴミ
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.trash %>
                ゴミ捨て：可
              <% else %>
                持ち帰り
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-shower"></i>
              <span class="holiday"></span> シャワー
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.coin_shower %>
                コインシャワー
              <% elsif @field.free_shower %>
                簡易シャワー
              <% else %>
                無
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-restroom"></i> トイレ
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.washlet %>
                ウォシュレット式
              <% elsif @field.flush_toilet %>
                水洗トイレ
              <% elsif @field.simple_toilet %>
                簡易トイレ
              <% else %>
                無
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-paw"></i> ペット
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.pets %>
                可
              <% else %>
                不可
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-book-reader"></i> ゆるキャン△
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.laid_back_camp %>
                ゆるキャン聖地△
              <% else %>
                -
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6 text-left pl-2">
              <i class="fas fa-book-open"></i> ふたりソロキャンプ
            </div>
            <div class="col-sm-8 col-6 text-left px-0">
              <% if @field.two_people_solo_camp %>
                ふたりソロキャンプ地！
              <% else %>
                -
              <% end %>
            </div>
          </div>
          <div class="text-center">
            <%= link_to "詳細は「#{@field.name}」HPへどうぞ", "#{@field.field_url}", target: :_blank,class: "result-btn btn rounded-pill w-70 m-auto my-5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 mt-5">
      <div class="card shadow rounded">
        <div class="card-header text-center">
          <h4>マップ</h4>
        </div>
        <div class="card-body">
          <div id="map" style='width: 100%; height: 28vh;'></div>
        </div>
        <%= link_to "GoogleMapで開く", "https://www.google.com/maps/search/?api=1&query=#{@field.latitude},#{@field.longitude}&query_place_id=#{@field.place_id}" , target: "_blank",class: "result-btn btn rounded-pill w-50 m-auto mb-5" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 my-5">
      <div class="card shadow rounded">
        <div class="card-header text-center">
          <h4>口コミ</h4>
        </div>
        <%= link_to "口コミを投稿する", new_review_path(field_id: @field.id), class: "result-btn btn rounded-pill w-50 m-auto mt-5" %>
        <% if @reviews.present? %>
          <div class="card-header mt-5">
            レビュー　全<%= @reviews.count %>件
          </div>
          <div id="reviews">
            <% @reviews.each do |review| %>
              <div class="review row text-left">
                <div class="col-2 p-5">
                  <% if review.user.icon_img.present? %>
                    <%= image_tag review.user.icon_img, class:"rounded-circle", size:"100x100" %>
                  <% else %>
                    <i class="fas fa-user-plus fa-4x ms-3"></i>
                  <% end %>
                </div>
                <div class="bubble col-8 text-left p-3 m-5 bg-light">
                  <div class="review_title">
                    <h5 class="fw-bold text-center">タイトル：<%= review.title %></h5>
                  </div>
                  <div id="star-rate<%= review.id %>"></div>
                  <p><%= review.rate %> / 5.0</p>
                  <div class="review_content text-break">
                    <%= simple_format(review.content) %>
                  </div>
                  <div class="text-end">
                    <p><%= review.user.name %> さん</p>
                  </div>
                </div>
                <% if user_signed_in? && current_user.id == review.user.id %>
                  <%= link_to "削除する", review_path(review), method: :delete, data: { confirm: '削除しますか?' }, class: "delete-btn btn rounded-pill w-50 m-auto mb-5" %>
                <% end %>
                <script>
                  $('#star-rate<%= review.id %>').raty({
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    readOnly: true,
                    half: true,
                    score: <%= review.rate %>,
                  });
                </script>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="text-center mt-5">口コミはありません</p>
        <% end %>
        <div class="review row text-left">
          <div class="balloon col-8 text-left">
            <div class="review_title"></div>
          <div class="star-review" data-score=""></div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "トップページに戻る", root_path, class: "back-btn btn rounded-pill w-50 m-auto mt-5" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
    var test = {lat: <%= @field.latitude %>, lng: <%= @field.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @field.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0" nonce="BrpiAESd"></script>
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>