<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "shared/header", q: @q, user: @user %>
    </header>
    <% if current_page?(root_path) %>
      <%= render "shared/article" %>
    <% end %>
    <nav></nav>
    <main>
      <%= yield %>
      <%= render "shared/scroll_btn" %>
    </main>
    <aside></aside>
    <footer>
      <%= render "shared/footer", user: @user %>
    </footer>
    <script>
      $(function(){
        $('.area_btn').click(function(){
          $('.area_overlay').show();
          $('.pref_area').show();
          var area = $(this).data('area');
          $('[data-list]').hide();
          $('[data-list="' + area + '"]').show();
        });
        $('.area_overlay').click(function(){
          prefReset();
        });
        $('.pref_list [data-id]').click(function(){
          if($(this).data('id')){
            var id = $(this).data('id');
            prefReset();
          }
        });
        function prefReset(){
          $('[data-list]').hide();
          $('.pref_area').hide();
          $('.area_overlay').hide();
        }
      });
      $(document).ready(function () {
        $("#back").hide();
        $(function() {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 800) {
              $('#back').fadeIn();
            } else {
              $('#back').fadeOut();
            }
          });
          $('#back a').on('click',function(event){
            $('body, html').animate({
              scrollTop:0
            }, 200);
            event.preventDefault();
          });
        });
      });
      $(function() {
        $("form").on('submit', function(){
          $.LoadingOverlay("show");
        });
      });
      $(function(){
        $('.flash').fadeOut(7000);
      });
      $(function(){
        $('.notice').fadeOut(7000);
      });
      $(function(){
        $('.alert').fadeOut(7000);
      });
      $(function(){
        $('.danger').fadeOut(7000);
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
  </body>
</html>
