<!DOCTYPE html>
<html>
  <head>
    <title>TO CAMP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "shared/header" %>
    </header>
    <% if current_page?(root_path) %>
      <article>
        <%= image_tag 'top-page-img.png', width: "100%", height: "100%" %>
        <div class="article-card col-xs-8 col-md-8 col-lg-8 text-center">
          <p class="mb-0 pt-3">
            <span class="m-5">次はどこでキャンプしようか</span>
          </p>
          <h1 class="site-title">
            <span class="m-5">TO CAMP</span>
          </h1>
        </div>
        <!--<div class="article-form rounded shadow">
          <div class="form-area p-3">
            <p class="form-area-title mb-4">次はどこへ行こうか</p>
            <%= search_form_for @q, url: search_fields_path do |f| %>
              <%= f.text_field :name_or_address_cont, class: 'form-control me-2', placeholder: 'キャンプ場を探す' %>
              <%= f.submit "検索" , class: 'btn btn-outline-success'%>
            <% end %>
          </div>
        </div>-->
      </article>
    <% end %>
    <nav>left</nav>
    <main>
      <%= yield %>
    </main>
    <aside>right</aside>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
