<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "shared/header", q: @q %>
    </header>
    <% if current_page?(root_path) %>
      <%= render "shared/article" %>
    <% end %>
    <nav></nav>
    <main>
      <%= yield %>
    </main>
    <aside></aside>
    <footer>
      <%= render "shared/footer", user: @user %>
    </footer>
  </body>
</html>
